body {
	background-color: #c5cedb;
	font-family: Verdana, sans-serif;
}

header img {
	float: left;
	margin-right: 50px;
}

h1 {
	text-align: center;
	color: maroon;
	font-weight: bold;
}

h2 {
	font-weight: bold;
	color: yellow;
	text-align: center;
}

article p {
	margin-bottom: 15px;
	line-height: 1.6;
	text-align: justify;
}

section {
	margin: 20px;
	background-color: #aab3bf;
	padding: 10px;
}

section ul,
section ol {
	list-style-type: disc;
	margin-left: 20px;
}

dl {
	margin-left: 20px;
}

dt {
	font-weight: bold;
}

caption {
	font-weight: bold;
	color: yellow;
	text-align: center;
	font-size: 25px;
}

th {
	background-color: green;
	font-size: 20px;
	padding: 15px;
}

table, th, td{
	text-align: center;
	font-size: 20px;
	border: black 1px solid;
	border-collapse: collapse;
}

table {
	text-align: center;
	margin: auto;
	width: 100%;
	background-color: white;
}

.hores {
	font-size: 20px;
	padding: 10px;
	width: 180px;
}

#descans {
	font-size: 20px;
	padding: 15px;
	text-align: center;
	background-color: #e0e0e0;
}

.lmsgi {
	background-color: #ffcccb;
}

.bd {
	background-color: #add8e6;
}

.ped {
	background-color: #90ee90;
}

.si {
	background-color: #f0e68c;
}

.tut {
	background-color: #d3d3d3;
}

.an {
	background-color: #dda0dd;
}

.diw {
	background-color: #ffb6c1;
}

.ipoi {
	background-color: #87ceeb;
}